*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/**Banner principal**/
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.658), #15476C), url(../Imagenes/pexels-sora-shimazaki-5668481.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    clip-path: circle(180vh at 50% -80vh);
    animation: moveBanner 1s 0.5s forwards;
}

.navbar{
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    cursor: pointer;
}
                                    
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 22px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Fraunces', serif;
    font-size: 1.0rem;
}

.navbar ul li::before{
    content: "";
    height: 3px;
    width: 0%;
    background: #15476C;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before{
    width: 100%;
}
                                    
                                    
.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 50px;
}
                                    
.banner-text h1 {
    font-size: 100px;
    font-family: 'Baskervville', serif;
}
                                    
.banner-text h2 {
    font-size: 20px;
    font-family: 'Baskervville', serif;
    font-weight: 400;
}
                                    
.banner-btn {
    margin: 70px auto 0;
}
                                    
.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
                                    
.banner-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
                                    
.banner-btn a:hover span {
    width: 100%;
}
                                    
.banner-btn a:hover {
    color: #000;
}
                                    
nav ul li {
    list-style: none;
    margin: 50px 20px;
}
                                    
nav ul a {
    text-decoration: none;
    color: #fff;
}
                                    
@media screen and (max-width: 770px) {
    .banner-text h1 {
        font-size: 44px;
    }
    .banner-btn a {
        display: block;
        margin: 20px auto;
    }
}
/**Banner principal fin**/

.color-acento{ 
    color:#154972; 
}

.color-acento1{ 
    color:#8F621A; 
}

#somos-proya .container{
    display: flex;
    justify-content: space-evenly;
}

#somos-proya .texto{
    width: 50%;
    max-width: 500px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#somos-proya h2{
    margin-top: 0px;
}

#somos-proya .img-container{
    background-image: url(../Imagenes/pexels-victoria-akvarel-5649093-removebg-preview.png);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px; 
}

#somos-proya .container{
    text-align: center;
    padding: 0px 0px;
}